@import "./../charticulator/dist/styles/app.css";

.attribute-editor {
  .fui-AccordionItem {
    border-radius: 2px !important;
    border-color: black !important;
    border-width: 1px !important;
    border-style: solid !important;
    margin: 1px !important;
  }
}
